In [16]:
#import statements
import pandas as pd

In [17]:
#load dataset
df = pd.read_fwf('/content/Dataset/CS205_SP_2022_SMALLtestdata__50.txt',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,-0.115217,1.028939,-0.577126,-0.712167,-0.912159,-0.451372,-1.525375,-0.861352,0.546840,-0.251336
1,1.0,-0.502257,-1.958082,1.662224,0.078092,0.788858,-0.511475,-2.699213,0.949166,0.015475,-1.742584
2,2.0,0.782874,-0.235984,-1.040577,1.558203,0.899605,-1.887034,0.439787,-0.910808,0.660692,0.872660
3,2.0,-0.099672,0.911323,0.785655,-0.305551,-0.113700,-0.559902,-0.769594,-0.483233,-1.120906,-0.776177
4,1.0,-0.896932,-0.534194,-0.345396,0.479979,1.123755,-0.749702,1.046664,0.442511,0.260252,0.106917

In [18]:
#Data Description and Insights
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.803333,-0.039891,-0.006807,-0.070404,-0.027441,0.007062,-0.034650,-0.008957,0.025661,-0.019619,-0.004883
std,0.398142,1.026470,1.042762,0.976837,1.006494,0.992949,1.060255,1.009455,1.025335,1.008985,1.064130
min,1.000000,-2.759900,-2.965587,-2.438587,-2.595110,-3.019328,-2.721383,-3.056476,-3.768526,-3.977997,-2.436469
25%,2.000000,-0.683688,-0.776106,-0.721633,-0.707923,-0.643893,-0.729646,-0.743552,-0.601961,-0.713528,-0.701476
50%,2.000000,-0.098711,0.107414,-0.065464,-0.037058,-0.015348,-0.053713,0.018595,0.082904,0.018356,-0.083467
75%,2.000000,0.668102,0.750067,0.643830,0.638160,0.748449,0.638612,0.685488,0.686294,0.668195,0.771357
max,2.000000,2.896667,2.960593,2.444745,2.931176,2.725950,2.947370,3.316543,3.114136,2.301924,2.702189

In [19]:
#rename cols
df.columns = ['target','F1','F2','F3','F4','F5','F6','F7','F8','F9','F10']
df

,target,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10
0,2.0,-0.115217,1.028939,-0.577126,-0.712167,-0.912159,-0.451372,-1.525375,-0.861352,0.546840,-0.251336
1,1.0,-0.502257,-1.958082,1.662224,0.078092,0.788858,-0.511475,-2.699213,0.949166,0.015475,-1.742584
2,2.0,0.782874,-0.235984,-1.040577,1.558203,0.899605,-1.887034,0.439787,-0.910808,0.660692,0.872660
3,2.0,-0.099672,0.911323,0.785655,-0.305551,-0.113700,-0.559902,-0.769594,-0.483233,-1.120906,-0.776177
4,1.0,-0.896932,-0.534194,-0.345396,0.479979,1.123755,-0.749702,1.046664,0.442511,0.260252,0.106917
...,...,...,...,...,...,...,...,...,...,...,...
295,2.0,0.205457,0.250318,-0.537376,-0.775088,1.653290,0.715421,-1.520446,0.326333,1.159613,-0.188450
296,2.0,1.694349,0.240215,-0.317668,0.039604,1.524164,-0.391376,0.082538,0.031671,-0.270846,1.366570
297,1.0,-0.909488,0.397312,0.005017,1.258134,-0.319883,-0.326486,-0.151159,-0.890728,0.342742,1.827024
298,2.0,-0.314441,-0.475541,1.101732,-1.886868,-0.786598,0.154666,0.581786,-1.809375,0.979519,-0.744581
299,2.0,0.544969,0.556168,-0.113239,0.433461,-0.507212,-1.130023,-1.010045,0.557528,1.766568,0.870519

In [21]:
df.to_csv('CS205_SmallDataset',index=False,header=True)